<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.wzl.nulidexiaoma.original.dao.cascade.IStuCardDao" >
  <resultMap id="BaseResultMap" type="cn.wzl.nulidexiaoma.model.StuCard" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="stu_code" property="stuCode" jdbcType="VARCHAR" />
    <result column="card_code" property="cardCode" jdbcType="VARCHAR" />
    <result column="address" property="address" jdbcType="VARCHAR" />
    <result column="begin_date" property="beginDate" jdbcType="TIMESTAMP" />
    <result column="end_date" property="endDate" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, stu_code, card_code, address, begin_date, end_date
  </sql>
  <!--配置一对一-->
  <resultMap id="associationMap" type="cn.wzl.nulidexiaoma.model.StuCard" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="stu_code" property="stuCode" jdbcType="VARCHAR" />
    <result column="card_code" property="cardCode" jdbcType="VARCHAR" />
    <result column="address" property="address" jdbcType="INTEGER" />
    <result column="begin_date" property="beginDate" jdbcType="TIMESTAMP" />
    <result column="end_date" property="endDate" jdbcType="TIMESTAMP" />
    <association property="student" column="id" select="cn.wzl.nulidexiaoma.original.dao.cascade.IStudentDao.getStudentById"/>
  </resultMap>

  <select id="getStuCardById" resultMap="associationMap">
    select * from stu_card where id = #{id,jdbcType=INTEGER}
  </select>

</mapper>