<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.wzl.nulidexiaoma.dao.permissions.impl.MenuDaoImpl" >
  <resultMap id="BaseResultMap" type="cn.wzl.nulidexiaoma.model.Menu" >
    <id column="ID" property="id" jdbcType="INTEGER" />
    <result column="MENU_ID" property="menuId" jdbcType="VARCHAR" />
    <result column="MENU_NAME" property="menuName" jdbcType="VARCHAR" />
    <result column="LINK_URL" property="linkUrl" jdbcType="VARCHAR" />
    <result column="PARENT_ID" property="parentId" jdbcType="INTEGER" />
    <result column="ICON_NAME" property="iconName" jdbcType="VARCHAR" />
    <result column="SORTID" property="sortid" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    ID, MENU_NAME, LINK_URL, PARENT_ID, ICON_NAME, SORTID
  </sql>
  <!--<select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from menu
    where ID = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from menu
    where ID = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.mb.model.Menu" >
    insert into menu (ID, MENU_NAME, LINK_URL, 
      PARENT_ID, ICON_NAME, SORTID
      )
    values (#{id,jdbcType=INTEGER}, #{menuName,jdbcType=VARCHAR}, #{linkUrl,jdbcType=VARCHAR}, 
      #{parentId,jdbcType=INTEGER}, #{iconName,jdbcType=VARCHAR}, #{sortid,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.mb.model.Menu" >
    insert into menu
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        ID,
      </if>
      <if test="menuName != null" >
        MENU_NAME,
      </if>
      <if test="linkUrl != null" >
        LINK_URL,
      </if>
      <if test="parentId != null" >
        PARENT_ID,
      </if>
      <if test="iconName != null" >
        ICON_NAME,
      </if>
      <if test="sortid != null" >
        SORTID,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="menuName != null" >
        #{menuName,jdbcType=VARCHAR},
      </if>
      <if test="linkUrl != null" >
        #{linkUrl,jdbcType=VARCHAR},
      </if>
      <if test="parentId != null" >
        #{parentId,jdbcType=INTEGER},
      </if>
      <if test="iconName != null" >
        #{iconName,jdbcType=VARCHAR},
      </if>
      <if test="sortid != null" >
        #{sortid,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.mb.model.Menu" >
    update menu
    <set >
      <if test="menuName != null" >
        MENU_NAME = #{menuName,jdbcType=VARCHAR},
      </if>
      <if test="linkUrl != null" >
        LINK_URL = #{linkUrl,jdbcType=VARCHAR},
      </if>
      <if test="parentId != null" >
        PARENT_ID = #{parentId,jdbcType=INTEGER},
      </if>
      <if test="iconName != null" >
        ICON_NAME = #{iconName,jdbcType=VARCHAR},
      </if>
      <if test="sortid != null" >
        SORTID = #{sortid,jdbcType=INTEGER},
      </if>
    </set>
    where ID = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.mb.model.Menu" >
    update menu
    set MENU_NAME = #{menuName,jdbcType=VARCHAR},
      LINK_URL = #{linkUrl,jdbcType=VARCHAR},
      PARENT_ID = #{parentId,jdbcType=INTEGER},
      ICON_NAME = #{iconName,jdbcType=VARCHAR},
      SORTID = #{sortid,jdbcType=INTEGER}
    where ID = #{id,jdbcType=INTEGER}
  </update>-->
</mapper>