<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.wzl.nulidexiaoma.dao.cascade.IStudentDao" >
  <resultMap id="BaseResultMap" type="cn.wzl.nulidexiaoma.model.Student" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="stu_code" property="stuCode" jdbcType="VARCHAR" />
    <result column="stu_name" property="stuName" jdbcType="VARCHAR" />
    <result column="stu_age" property="stuAge" jdbcType="INTEGER" />
    <result column="stu_sex" property="stuSex" jdbcType="VARCHAR" />
    <result column="stu_class" property="stuClass" jdbcType="VARCHAR" />
    <result column="card_code" property="cardCode" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, stu_code, stu_name, stu_age, stu_sex, stu_class
  </sql>
  <select id="getStudentById" resultMap="BaseResultMap">
    select * from student where card_code = #{cardCode,jdbcType=VARCHAR}
  </select>

  <select id="getStudentByStuId" resultMap="BaseResultMap">
    select * from student where stu_class = #{stuClass,jdbcType=VARCHAR}
  </select>

  <resultMap id="DiscriminatorMap" type="cn.wzl.nulidexiaoma.model.Student" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="stu_code" property="stuCode" jdbcType="VARCHAR" />
    <result column="stu_name" property="stuName" jdbcType="VARCHAR" />
    <result column="stu_age" property="stuAge" jdbcType="INTEGER" />
    <!--<result column="stu_sex" property="stuSex" jdbcType="VARCHAR" />-->
    <result column="stu_class" property="stuClass" jdbcType="VARCHAR" />
    <result column="card_code" property="cardCode" jdbcType="VARCHAR" />
    <discriminator javaType="java.lang.String" column="stu_sex">
      <case value="1" resultMap="maleStudentMap"></case>
      <case value="0" resultMap="femaleStudentMap"></case>
    </discriminator>
  </resultMap>

  <select id="getStudentByDiscriminator" resultMap="DiscriminatorMap">
    select * from student where id in (1,2,3,4,5,6)
  </select>

  <resultMap id="maleStudentMap" type="cn.wzl.nulidexiaoma.model.MaleStudentBean" extends="DiscriminatorMap">
      <collection property="maleStudents" select="cn.wzl.nulidexiaoma.dao.cascade.IMaleStudentDao.getMaleStudentById" column="id"/>
  </resultMap>

  <resultMap id="femaleStudentMap" type="cn.wzl.nulidexiaoma.model.FemaleStudentBean" extends="DiscriminatorMap">
    <collection property="famaleStudents" select="cn.wzl.nulidexiaoma.dao.cascade.IFemaleStudentDao.getFemaleStudentById" column="id"/>
  </resultMap>
</mapper>