<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context" xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd"
       default-lazy-init="false">
    <context:annotation-config/>
    <context:component-scan base-package="cn.wzl.nulidexiaoma" />
    <tx:annotation-driven/>

    <!-- Spring Aop -->
    <aop:aspectj-autoproxy proxy-target-class="true"/>

    <!-- 加载数据源 -->
    <bean id="propertySourcesPlaceholderConfigurer"
          class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
        <property  name="locations">
            <list>
                <value>classpath:spring/properties/*</value>
                <value>classpath:spring/app.properties</value>
            </list>
        </property>
        <property name="ignoreResourceNotFound" value="true"/>
    </bean>
    <!-- 导入spring下的所有配置文件 -->
    <import resource="classpath:spring/mybatis/*.xml"/>
    <import resource="classpath:spring/redis/*.xml"/>
    <import resource="classpath:spring/mq/*.xml"/>
    <import resource="classpath:spring/mongoDB/*.xml"/>
    <import resource="classpath:spring/dubbo/*.xml"/>
    <import resource="classpath:spring/web/*.xml"/>
    <import resource="classpath:spring/transaction/*.xml"/>
    <import resource="classpath:spring/mvc/*.xml"/>
    <!-- 多部分文件上传 -->
    <bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
        <property name="maxUploadSize" value="104857600" />
        <property name="maxInMemorySize" value="4096" />
        <property name="defaultEncoding" value="UTF-8"></property>
    </bean>
</beans>
