<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.wzl.nulidexiaoma.original.dao.permissions.impl.MenuRoleDao" >
  <resultMap id="BaseResultMap" type="cn.wzl.nulidexiaoma.model.RoleMenu" >
    <id column="ID" property="id" jdbcType="INTEGER" />
    <result column="MENU_ID" property="menuId" jdbcType="INTEGER" />
    <result column="ROLE_ID" property="roleId" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    ID, MENU_ID, USER_ID, USER_NAME, MENU__NAME
  </sql>
  <!--<select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from menu_user
    where ID = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from menu_user
    where ID = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.mb.moMenuRoleUser" >
    insert into menu_user (ID, MENU_ID, USER_ID, 
      USER_NAME, MENU__NAME)
    values (#{id,jdbcType=INTEGER}, #{menuId,jdbcType=INTEGER}, #{userId,jdbcType=INTEGER}, 
      #{userName,jdbcType=VARCHAR}, #{menuName,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.mb.moMenuRoleUser" >
    insert into menu_user
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        ID,
      </if>
      <if test="menuId != null" >
        MENU_ID,
      </if>
      <if test="userId != null" >
        USER_ID,
      </if>
      <if test="userName != null" >
        USER_NAME,
      </if>
      <if test="menuName != null" >
        MENU__NAME,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="menuId != null" >
        #{menuId,jdbcType=INTEGER},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="userName != null" >
        #{userName,jdbcType=VARCHAR},
      </if>
      <if test="menuName != null" >
        #{menuName,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.mb.moMenuRoleUser" >
    update menu_user
    <set >
      <if test="menuId != null" >
        MENU_ID = #{menuId,jdbcType=INTEGER},
      </if>
      <if test="userId != null" >
        USER_ID = #{userId,jdbcType=INTEGER},
      </if>
      <if test="userName != null" >
        USER_NAME = #{userName,jdbcType=VARCHAR},
      </if>
      <if test="menuName != null" >
        MENU__NAME = #{menuName,jdbcType=VARCHAR},
      </if>
    </set>
    where ID = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.mb.moMenuRoleUser" >
    update menu_user
    set MENU_ID = #{menuId,jdbcType=INTEGER},
      USER_ID = #{userId,jdbcType=INTEGER},
      USER_NAME = #{userName,jdbcType=VARCHAR},
      MENU__NAME = #{menuName,jdbcType=VARCHAR}
    where ID = #{id,jdbcType=INTEGER}
  </update>-->

  <insert id="insertListBatch" parameterType="java.util.List">
    insert into role_menu(role_id,menu_id)
    values
    <foreach collection="list" separator="," item="item" open="" close="" index="index">
      (
      #{item.roleId,jdbcType=VARCHAR},
      #{item.menuId,jdbcType=VARCHAR}
      )
    </foreach>
  </insert>

  <delete id="deleteRoleMenuByRoleId">
    delete form role_menu
    where role_id = #{roleId,jdbcType=VARCHAR}
  </delete>
</mapper>