<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.wzl.nulidexiaoma.dao.cascade.IClassDao" >
  <resultMap id="BaseResultMap" type="cn.wzl.nulidexiaoma.model.Class" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="cls_code" property="clsCode" jdbcType="VARCHAR" />
    <result column="cls_name" property="clsName" jdbcType="VARCHAR" />
    <result column="cls_gred" property="clsGred" jdbcType="INTEGER" />
    <result column="cls_num" property="clsNum" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, cls_code, cls_name, cls_gred, cls_num
  </sql>

  <resultMap id="CollectionMap" type="cn.wzl.nulidexiaoma.model.Class" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="cls_code" property="clsCode" jdbcType="VARCHAR" />
    <result column="cls_name" property="clsName" jdbcType="VARCHAR" />
    <result column="cls_gred" property="clsGred" jdbcType="INTEGER" />
    <result column="cls_num" property="clsNum" jdbcType="VARCHAR" />
    <collection property="stuList" column="id" select="cn.wzl.nulidexiaoma.dao.cascade.IStudentDao.getStudentByStuId"></collection>
  </resultMap>

  <select id="getClassById" resultMap="CollectionMap">
    select * from class where id = #{id,jdbcType=VARCHAR}
  </select>

  <select id="getClassByFirLevelCache" resultMap="BaseResultMap">
    select * from class where id=#{id,jdbcType=INTEGER}
  </select>
</mapper>