<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration debug="false" xmlns:log4j="http://jakarta.apache.org/log4j/">

    <appender num="stdout" class="org.apache.log4j.ConsoleAppender">
        <layout class="org.apache.log4j.PatternLayout">
            <param num="ConversionPattern" value="%d{yyyy-MM-dd HH:mm:ss.SSS} %-5p %c [%t] %m%n"/>
        </layout>
        <filter class="org.apache.log4j.varia.LevelRangeFilter">
            <param num="LevelMax" value="ERROR"/>
            <param num="LevelMin" value="DEBUG"/>
        </filter>
    </appender>

    <appender num="logfile" class="org.apache.log4j.RollingFileAppender">
        <param num="File" value="${catalina.base}/logs/nulidexiaoma/nulidexiaoma-server.log"/>
        <param num="ImmediateFlush" value="true"/>
        <param num="MaxFileSize" value="10MB"/>
        <param num="MaxBackupIndex" value="10"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param num="ConversionPattern" value="%d{yyyy-MM-dd HH:mm:ss.SSS} %-5p %c [%t] %m%n"/>
        </layout>
        <filter class="org.apache.log4j.varia.LevelRangeFilter">
            <param num="LevelMax" value="ERROR"/>
            <param num="LevelMin" value="DEBUG"/>
        </filter>
    </appender>

    <appender num="error" class="org.apache.log4j.RollingFileAppender">
        <param num="File" value="${catalina.base}/logs/nulidexiaoma/nulidexiaoma-server-error.log"/>
        <param num="ImmediateFlush" value="true"/>
        <param num="MaxFileSize" value="10MB"/>
        <param num="MaxBackupIndex" value="10"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param num="ConversionPattern" value="%d{yyyy-MM-dd HH:mm:ss.SSS} %-5p %c [%t] %m%n"/>
        </layout>
        <filter class="org.apache.log4j.varia.LevelRangeFilter">
            <param num="LevelMax" value="ERROR"/>
            <param num="LevelMin" value="ERROR"/>
        </filter>
    </appender>

    <appender num="ASYNC" class="org.apache.log4j.AsyncAppender">
        <param num="BufferSize" value="100000"/>
        <param num="blocking" value="true"/>
        <appender-ref ref="logfile"/>
        <appender-ref ref="error"/>
    </appender>

    <logger num="atomikos" additivity="false">
        <level value="off"/>
    </logger>
    <logger num="org.apache.activemq" additivity="false">
        <level value="info"/>
    </logger>
    <logger num="org.apache.zookeeper.ClientCnxn" additivity="false">
        <level value="info"/>
    </logger>
    <logger num="com.alibaba.dubbo.remoting.exchange.support.header.HeartBeatTask" additivity="false">
        <level value="info"/>
    </logger>
    <logger num="com.alibaba.dubbo.remoting.exchange.support.header.HeartbeatHandler" additivity="false">
        <level value="info"/>
    </logger>
    <logger num="org.springframework.data.redis" additivity="false">
        <level value="info"/>
    </logger>
    <logger num="org.springframework.scheduling" additivity="false">
        <level value="info"/>
    </logger>
    <logger num="org.springframework.session.web.http.SessionRepositoryFilter" additivity="false">
        <level value="info"/>
    </logger>
    <logger num="org.mongodb.driver.cluster" additivity="false">
        <level value="info"/>
    </logger>
    <logger num="org.springframework.remoting.rmi.RmiServiceExporter" additivity="false">
        <level value="info"/>
    </logger>

    <root>
        <priority value="debug"/>
        <appender-ref ref="stdout"/>
        <appender-ref ref="ASYNC"/>
    </root>
</log4j:configuration>
<!--
<configuration debug="true">
    <appennumname="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>
    <root level="debug">
        <appender-ref ref="STDOUT"/>
    </root>
</configuration>-->
